.navbar-light {
    font-family: $sta-font-nav, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-rendering: optimizelegibility;
  }

  .hero-title {
    font-size: 5rem;
    margin-top: 0;
    line-height: 1;
  }